:root{
    --primary-color: #7447cc;
    --secondary-color: #ad1788;
    --primary-gray-color: #f3f3f3;
    --secondary-gray-color: #e0e0e0;
    --primary-white-color: #fff;
    --primary-black: #000;
}