.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  padding: 0 20px;
}

.homepage-title {
  font-size: 2.5rem;
  color: #1e1e1e;
}

.homepage-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #555;
  max-width: 600px;
}

.homepage-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.homepage-button {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.homepage-button:hover {
  background-color: var(--primary-color);
}

.homepage-author {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #333;
}

.homepage-author-link {
  text-decoration: none;
  color: blue;
}

.message-container {
    margin: 2rem 0;
    padding: 1.5rem;
    background: linear-gradient(135deg, rgba(0, 247, 255, 0.736), rgba(255, 0, 111, 0.748));
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.motivational-message {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-white-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    line-height: 1.4;
    animation: text-glow 2s ease-in-out infinite alternate;
}

@keyframes text-glow {
    from {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 247, 255, 0.736);
    }

    to {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 0, 111, 0.748);
    }
}

@media (max-width: 768px) {
    .motivational-message {
        font-size: 1.1rem;
    }
}